<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sinaseyfi.advancedcardviewsample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SomeCardsActivity"></activity>
        <activity
            android:name=".RainbowActivity"
            android:label="Rotate It !"></activity>
        <activity
            android:name=".LiftItUpActivity"
            android:label="Lift It Up!!" />
        <activity
            android:name=".AHoleInYourScreenActivity"
            android:label="A Hole In Your Screen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>